@import "node_modules/react-image-gallery/styles/css/image-gallery.css";

body {
  font-family:  sans-serif;
  padding-bottom: 5%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#home {
  background-image: url('./HomeImages.gif');
  /* https://i.refresher.sk/public/johnnybravo/oioijdoiqweinqwoenwqondkaslnklnycklyxncykxnclknckyx/estherinho/15975070_1194447767329112_3113445255927375757.jpg */
  /* 'https://i.ytimg.com/vi/SgpvSmrL7d0/maxresdefault.jpg */
  /* 'https://s-media-cache-ak0.pinimg.com/originals/e7/6c/2a/e76c2ac11a3e22495bb5449714adb7c8.jpg' */
  /* https://cdn-images-1.medium.com/max/1293/1*9ETiGUHS5GwsIANP_K4PRw.png */
  /* 'https://www.science.org.au/curious/sites/default/files/article-featured-category-image/psbabe-pig-1024x700.jpg' */
  position: absolute;
  top: 0;
  z-index: -1;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 100vh;
}
